<!doctype html>

{% load static %}

<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>
        {% block title %}Arexbis{% endblock %}
    </title>
    {% block metas %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <style>
        a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
        }

        a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
        }

        a:hover {
        color: white;
        background-color: transparent;
        text-decoration: none;
        }

        a:active {
        color: black;
        background-color: transparent;
        text-decoration: none;
        }
    </style>
    {% endblock %}
</head>

<body style="height: 1080px;background-image: url({% static 'img/background.jpg' %});">

{% include 'messages.html' %}

{% block nav %}

{% endblock %}

{% block content %}

{% endblock %}

{% block js %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
{% endblock %}

</body>

</html>