{% extends "base.html" %}

{% load static %}

{% block content %}

    <header style="border-color: #3ea7e9;">
        <div class="container d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-shrink-1 justify-content-center align-items-center align-content-center justify-content-sm-center align-items-sm-center align-content-sm-center justify-content-md-center align-items-md-center align-content-md-center justify-content-lg-center align-items-lg-center align-content-lg-center justify-content-xl-center align-items-xl-center align-content-xl-center justify-content-xxl-center align-items-xxl-center align-content-xxl-center" style="border-color: #3ea7e9;">
            <h1 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-shrink-1 justify-content-center align-items-center align-content-center flex-wrap justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center" style="font-family: Montserrat, sans-serif;font-size: 75px;width: 655px;background: #c9eaff;border-radius: 0px;border-top-left-radius: 50px;border-top-right-radius: 50px;margin-top: 0px;padding-bottom: 10px;margin-bottom: -16px;box-shadow: 25px -20px 20px rgb(83,89,95);text-shadow: 5px 5px 10px rgb(74,74,74);font-weight: bold;text-decoration: underline;border-style: none;border-color: #3ea7e9;border-top: 15px solid #3ea7e9;border-right: 15px solid #3ea7e9;border-bottom: 0px none rgb(255,255,255);border-left: 15px solid rgb(62,167,233);margin-left: -40px;">Arexbis</h1>
        </div>
    </header>
    <div class="container-fluid" style="width: 100%;height: 95%;border-radius: 100px;box-shadow: 40px -20px 20px rgb(83,89,95);background: #c9eaff;border: 15px solid #3ea7e9;border-bottom-style: none;border-bottom-color: rgb(100, 104, 108);">
        <div class="row" style="width: 100%;height: 25%;">
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-end justify-content-xxl-center" style="width: 33%;height: 100%;">
                <h3 class="display-3" style="font-family: Montserrat, sans-serif;text-shadow: 5px 5px 10px rgb(74,74,74);border: 3px solid rgb(100,104,108);border-radius: 30px;padding-right: 20px;padding-left: 20px;box-shadow: 5px 5px 10px rgb(74,74,74);background: #ffffff;">Stagiaire</h3>
            </div>
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-end justify-content-xxl-center" style="width: 33%;height: 100%;">
                <h3 class="display-3" style="font-family: Montserrat, sans-serif;text-shadow: 5px 5px 10px rgb(74,74,74);border: 3px solid rgb(100,104,108);border-radius: 30px;padding-left: 20px;padding-right: 20px;box-shadow: 5px 5px 10px rgb(74,74,74);background: #ffffff;">Apprenti</h3>
            </div>
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-end justify-content-xxl-center" style="width: 33%;height: 100%;">
                <h3 class="display-3" style="font-family: Montserrat, sans-serif;text-shadow: 5px 5px 10px rgb(74,74,74);border: 3px solid rgb(100,104,108);border-radius: 30px;padding-left: 20px;padding-right: 20px;box-shadow: 5px 5px 10px rgb(74,74,74);background: #ffffff;">Tuteur</h3>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 25%;">
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center justify-content-xxl-center" style="width: 33%;height: 100%;">
                <form action="stagiaire/login/">
                    <button class="btn btn-primary d-flex" data-bss-hover-animate="pulse" type="submit" style="background: url({% static 'img/bouton.png' %}) top / cover, #c9eaff;width: 170px;height: 170px;color: var(--bs-border-color-translucent);font-size: 0px;border-style: none;border-bottom-style: none;/*box-shadow: 0px 0px;*/">Button</button>
                </form>
            </div>
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center justify-content-xxl-center" style="width: 33%;height: 100%;">
                <form action="apprenti/login/">
                    <button class="btn btn-primary d-flex" data-bss-hover-animate="pulse" type="submit" style="background: url({% static 'img/bouton.png' %}) top / cover, #c9eaff;width: 170px;height: 170px;color: var(--bs-border-color-translucent);font-size: 0px;border-style: none;border-bottom-style: none;/*box-shadow: 0px 0px;*/">Button</button>
                </form>
            </div>            
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center justify-content-xxl-center" style="width: 33%;height: 100%;">
                <form action="tuteur/login/">
                    <button class="btn btn-primary d-flex" data-bss-hover-animate="pulse" type="submit" style="background: url({% static 'img/bouton.png' %}) top / cover, #c9eaff;width: 170px;height: 170px;color: var(--bs-border-color-translucent);font-size: 0px;border-style: none;border-bottom-style: none;/*box-shadow: 0px 0px;*/">Button</button>
                </form>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 25%;">
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-end justify-content-xxl-center" style="width: 33%;height: 100%;">
                <h3 class="display-3" style="font-family: Montserrat, sans-serif;text-shadow: 5px 5px 10px rgb(74,74,74);box-shadow: 5px 5px 10px rgb(74,74,74);border: 3px solid rgb(100,104,108);border-radius: 30px;padding-left: 20px;padding-right: 20px;background: #ffffff;">Candide</h3>
            </div>
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-end justify-content-xxl-center" style="width: 33%;height: 100%;">
                <h3 class="display-3" style="font-family: Montserrat, sans-serif;text-shadow: 5px 5px 10px rgb(74,74,74);box-shadow: 5px 5px 10px rgb(74,74,74);border: 3px solid rgb(100,104,108);border-radius: 30px;padding-left: 20px;padding-right: 20px;background: #ffffff;">Gestionnaire</h3>
            </div>
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-end justify-content-xxl-center" style="width: 33%;height: 100%;">
                <h3 class="display-3" style="font-family: Montserrat, sans-serif;text-shadow: 5px 5px 10px rgb(74,74,74);box-shadow: 5px 5px 10px rgb(74,74,74);border: 3px solid rgb(100,104,108);border-radius: 30px;padding-left: 20px;padding-right: 20px;background: #ffffff;">Secretaire</h3>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 25%;">
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center justify-content-xxl-center" style="width: 33%;height: 100%;">
                <form action="candide/login/">
                    <button class="btn btn-primary d-flex" data-bss-hover-animate="pulse" type="submit" style="background: url({% static 'img/bouton.png' %}) top / cover, #c9eaff;width: 170px;height: 170px;color: var(--bs-border-color-translucent);font-size: 0px;border-style: none;border-bottom-style: none;">Button</button>
                </form>
            </div>
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center justify-content-xxl-center" style="width: 33%;height: 100%;">
                <form action="gestionnaire/login/">
                    <button class="btn btn-primary d-flex" data-bss-hover-animate="pulse" type="submit" style="background: url({% static 'img/bouton.png' %}) top / cover, #c9eaff;width: 170px;height: 170px;color: var(--bs-border-color-translucent);font-size: 0px;border-style: none;border-bottom-style: none;">Button</button>
                </form>
            </div>
            <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center justify-content-xxl-center" style="width: 33%;height: 100%;">
                <form action="secretaire/login/">
                    <button class="btn btn-primary d-flex" data-bss-hover-animate="pulse" type="submit" style="background: url({% static 'img/bouton.png' %}) top / cover, #c9eaff;width: 170px;height: 170px;color: var(--bs-border-color-translucent);font-size: 0px;border-style: none;border-bottom-style: none;">Button</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}