{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<header style="border-color: #3ea7e9;">
    <div class="container d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-shrink-1 justify-content-center align-items-center align-content-center justify-content-sm-center align-items-sm-center align-content-sm-center justify-content-md-center align-items-md-center align-content-md-center justify-content-lg-center align-items-lg-center align-content-lg-center justify-content-xl-center align-items-xl-center align-content-xl-center justify-content-xxl-center align-items-xxl-center align-content-xxl-center" style="border-color: #3ea7e9;">
        <h1 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-shrink-1 justify-content-center align-items-center align-content-center flex-wrap justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center" style="font-family: Montserrat, sans-serif;font-size: 75px;width: 655px;background: #c9eaff;border-radius: 0px;border-top-left-radius: 50px;border-top-right-radius: 50px;margin-top: 0px;padding-bottom: 10px;margin-bottom: -16px;box-shadow: 25px -20px 20px rgb(83,89,95);text-shadow: 5px 5px 10px rgb(74,74,74);font-weight: bold;text-decoration: underline;border-style: none;border-color: #3ea7e9;border-top: 15px solid #3ea7e9;border-right: 15px solid #3ea7e9;border-bottom: 0px none rgb(255,255,255);border-left: 15px solid rgb(62,167,233);padding-left: 0px;margin-left: -45px;">Arexbis</h1>
    </div>
</header>
<div class="container-fluid" style="width: 100%;height: 95%;border-radius: 100px;box-shadow: 40px -20px 20px rgb(83,89,95);background: #c9eaff;border: 15px solid #3ea7e9;border-bottom-style: none;border-bottom-color: rgb(100, 104, 108);">
    <div class="row" style="width: 99%;height: 99%;">
        <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 33%;height: 100%;"></div>
        <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 33%;height: 100%;">
            <form method="POST" class="align-content-center justify-content-xxl-center" style="width: 100%;height: 75%;border-style: none;box-shadow: 30px 15px 20px rgb(83,89,95);border-radius: 40px;background: #ffffff;">
                <div class="row">
                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center"><img class="img-fluid" src="{% static 'img/logo.jpg' %}" width="401" height="179" style="width: 75%;height: 100%;padding-left: 0px;margin-right: 1px;margin-left: -1px;padding-top: 30px;margin-top: 10px;margin-bottom: 0px;padding-bottom: 75px;"></div>
                </div>
                <div class="row">
                    <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center">
                        <h3 class="d-sm-flex justify-content-sm-center" style="font-family: Montserrat, sans-serif;">Connexion</h3>
                    </div>
                </div>
                {% csrf_token %}
                {{ login_form | crispy }}
            <button type="submit">Ajouter</button>
            </form>
        </div>
        <div class="col d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-grow-1 flex-shrink-1 justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center" style="width: 33%;height: 100%;padding-top: 0px;"></div>
    </div>
</div>
{% endblock %}