{% extends "base.html" %}

{% load static %}

{% block content %}

<header style="border-color: #3ea7e9;">
    <div class="container d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-shrink-1 justify-content-center align-items-center align-content-center justify-content-sm-center align-items-sm-center align-content-sm-center justify-content-md-center align-items-md-center align-content-md-center justify-content-lg-center align-items-lg-center align-content-lg-center justify-content-xl-center align-items-xl-center align-content-xl-center justify-content-xxl-center align-items-xxl-center align-content-xxl-center" style="border-color: #3ea7e9;">
    <h1 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex flex-shrink-1 justify-content-center align-items-center align-content-center flex-wrap justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center justify-content-xxl-center" style="font-family: Montserrat, sans-serif;font-size: 75px;width: 655px;background: #c9eaff;border-radius: 0px;border-top-left-radius: 50px;border-top-right-radius: 50px;margin-top: 0px;padding-bottom: 10px;margin-bottom: -16px;box-shadow: 25px -20px 20px rgb(83,89,95);text-shadow: 5px 5px 10px rgb(74,74,74);font-weight: bold;text-decoration: underline;border-style: none;border-color: #3ea7e9;border-top: 15px solid #3ea7e9;border-right: 15px solid #3ea7e9;border-bottom: 0px none rgb(255,255,255);border-left: 15px solid rgb(62,167,233);margin-left: -40px;">Arexbis</h1>
    </div>
    </header>
    <div class="container-fluid" style="width: 100%;height: 95%;border-radius: 100px;box-shadow: 40px -20px 20px rgb(83,89,95);background: #c9eaff;border: 15px solid #3ea7e9;border-bottom-style: none;border-bottom-color: rgb(100, 104, 108);">
        <div class="row d-xxl-flex" style="height: 15%;background: #b8b8b8;border-radius: 45px;box-shadow: 15px 15px 20px rgb(81,81,81);padding-top: 0px;margin-top: 28px;margin-right: 18px;margin-left: 14px;">
    
            {% if statut == "stagiaire" %}
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../">Acceuil</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../moncompte/">Compte</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../mesoffres/">Offres</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../mesdocuments/">Documents</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../annuaire/">Annuaire</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="/arexbis/logout">Déconnexion</a></button>
                </div>
        
            {% elif statut == "apprenti" %}
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../">Acceuil</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../moncompte/">Compte</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../mesoffres/">Offres</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../mesdocuments/">Documents</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../annuaire/">Annuaire</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="/arexbis/logout">Déconnexion</a></button>
                </div>
        
            {% elif statut == "tuteur" %}
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../">Acceuil</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../moncompte/">Compte</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../mesdocuments/">Documents</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../annuaire/">Annuaire</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../choixsoutenance/">Soutenances</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="/arexbis/logout">Déconnexion</a></button>
                </div>
        
            {% elif statut == "candide" %}
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../">Acceuil</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../moncompte/">Compte</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../choixsoutenance/">Soutenances</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="/arexbis/logout">Déconnexion</a></button>
                </div>
        
            {% elif statut == "gestionnaire" %}
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../">Acceuil</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../moncompte/">Compte</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../mesoffres/">Offres</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../mesdocuments/">Documents</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../annuaire/">Annuaire</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../choixsoutenance/">Soutenances</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="/arexbis/logout">Déconnexion</a></button>
                </div>
        
            {% elif statut == "secretaire" %}
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../">Acceuil</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../moncompte/">Compte</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../mesoffres/">Offres</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../mesdocuments/">Documents</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="../annuaire/">Annuaire</a></button>
                </div>
                <div class="col d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                    <button class="btn btn-outline-primary" type="button" style="width: 80%;height: 70%;border-radius: 30px;background: rgb(106,154,225);font-size: 25px;font-weight: bold;color: rgb(0,0,0);text-decoration: underline;box-shadow: 10px 10px 10px rgb(82,82,82);border: 3px solid rgb(0,0,0);"><a href="/arexbis/logout">Déconnexion</a></button>
                </div>
            {% endif %}
        
        </div>
    <div class="row flex-grow-1" style="margin: 28px 18px 0px 14px;height: 75%;background: #b8b8b8;box-shadow: 15px 15px 20px rgb(81,81,81);border-radius: 50px;padding-top: 20px;">
        <div class="col-xxl-10 offset-xxl-1">
            <h2 style="margin-top: 30px;font-weight: bold;text-decoration: underline;margin-bottom: 50px;">Mes offres</h2>
            {% if statut == "gestionnaire" or statut == "secretaire" %}
            <button class="btn btn-outline-primary" type="button"><a href="../posteroffre/">Ajouter une offre</a></button>
            {% endif %}
            <div class="row" style="height: 80%;">
                {% for offre in offres %}
                    <div class="col-xxl-6">
                        <div class="card" style="margin-bottom: 20px;background: rgb(184,184,184);border-width: 0px;">
                            <div class="card-body" style="height: 102.797px;">
                                <h4 class="card-title">{{offre.entreprise}}</h4><a class="card-link" href="../offre/{{offre.id}}">Voir</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="margin-bottom: 20px;background: rgb(184,184,184);height: 102.797px;border-width: 0px;">
                            <div class="card-body" style="height: 90.7969px;">
                                <h4 class="text-start card-title" style="width: 20%;">Formation Visée :</h4>
                                <p>{{offre.formationVisee}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
