<div class ="first" id="first">
    <div>    
        <h3>1  -  L’ÉTABLISSEMENT D’ENSEIGNEMENT ou DE FORMATION</h3>
        <p>Nom : UNIVERSITE D’ORLÉANS</p> 
        <p> Adresse : Château de la Source Avenue du Parc Floral – BP 674945067 ORLÉANS Cedex 2, FRANCE</p>  
        <p>SIRET : 19450855200016</p>
        <p>Représenté par (signataire de la convention) :  Sébastien LIMET</p>
        <p>Qualité du représentant :  Directeur</p>
        <p>Composante/UFR/autre (le cas échéant) : IUT Orléans</p>
        <p>téléphone : 02 38 49 44 72</p>
        <p>mél : scolarite.iut45@univ-orleans.fr</p>
        <p>Adresse (si différente de celle de l’établissement) :
            16 rue d'Issoudun
            45067 ORLÉANS CEDEX 2</p>
    </div>

</div>
<div class = "2">
    <h3>2  -   L’ORGANISME D’ACCUEIL</h3>
    <p>Nom : {{convention.entreprise}}</p>
    <p>Adresse : {{convention.entreprise.adresse}}</p>
    <p>Représenté par (nom du signataire de la convention) : ______________________</p>
    <p>Qualité du représentant : ____________________________</p>
    <p>Service dans lequel le stage sera effectué: ______________________________________</p>
    <p>mél : {{convention.entreprise.mailContact }}</p>
    <p>Lieu du stage : {{convention.entreprise.adresse}}</p>
</div>
<div class="3">
    <h3>3  -  LE  STAGIAIRE</h3>
    <p>Nom : {{convention.stagiaire.user.last_name}} Prenom : {{convention.stagiaire.user.username}} Sexe : ___________ Né(e) le :____________</p>
    <p>Adresse : {{convention.stagiaire.adresse}}</p>
    <p>Intitulé de la formation ou du cursus suivi dans l’établissement d’enseignement supérieur et volume horaire (annuel ou semestriel) :
        {{convention.stagiaire.formation}}</p>
    <p>Département : {{convention.stagiaire.departement}}</p>
    <p>Tél: {{convention.stagiaire.tel}} mél : {{convention.stagiaire.user.email}}</p>
    <p>Volume horaire annuel : 450</p>
</div>
<div class="4">
    <p class="sujet"> Sujet de Stage : <p>Participation aux tâches d'une agence web en tant que développeur</p> </p>
    <p> Dates : du {{convention.dateDebut}} au {{convention.dateFin}}</p>
    <p> Représentant une durée totale de ___ semaine(s)</p>
    <p> Et correspondant à ____ jours de présence effective dans l’organisme d’accueil.</p>
    <p> Répartition si présence discontinue indiquer les périodes de stage ou joindre un planning : ………………………………………………………………………………………………………..</p>
    <p> Commentaire :</p>
    <p class ="mini">Chaque période au moins égale à sept heures de présence, consécutives ou non, est considérée comme équivalente à un jour et chaque période au moins égale à vingt-deux jours de présence, consécutifs ou non, est considérée comme équivalente à un mois. (art. D124-6 Code de l’éducation).</p>

</div>
<div class="5">
    <h3>Encadrement du stagiaire par l’établissement d’enseignement</h3>
    <p>Nom et prénom de l’enseignant référent : {{convention.gestionnaire.user.last_name}} {{convention.gestionnaire.user.first_name}}</p>
    <p>Fonction (ou discipline) :</p>
    <p>mél : {{convention.gestionnaire.user.email}}</p>
</div>
<div class="6">
    <h3>Encadrement du stagiaire par L’organisme d’accueil</h3>
    <p>Nom et prénom du tuteur de stage :</p>
    <p>Fonction : Développeur</p>
    <p>Tél : ________________ mél : __________________</p>
</div>
<div class="7">
    <h3>CONTACTS</h3>
    <p>Caisse primaire d’assurance maladie à contacter en cas d’accident :  CPAM du lieu de domicile du stagiaire sauf exception : ……………………………………………………………..</p>
    ………………………………………………………………………………………………………………………………………………………………………
    <p>Service de médecine préventive de l’établissement d’enseignement Service de santé universitaire :Tél. : 02 38 41 71 79  - Mail : sante@univ-orleans.fr</p>
    <p>La déclaration devra faire apparaître l’établissement d’accueil comme «employeur» et l’université d’Orléans comme «établissement d’attache permanent» et mentionner le numéro de SIRET de l’UFR concernée.</p>
</div>
<div class="article">
    <p style= " font-weight: bold;">    Article 1 – Objet de la conventionp
</p>
<p>La présente convention règle les rapports de l’organisme d’accueil avec l’établissement d’enseignement et le stagiaire.</p>
    <p style= " font-weight: bold;"> Article 2 – Objectif du stage </p>
<p>  
Le stage correspond à une période temporaire de mise en situation en milieu professionnel au cours de laquelle le stagiaire acquiert des compétences professionnelles et met en œuvre les acquis de sa formation en vue de l’obtention d’un diplôme ou d’une certification et de favoriser son insertion professionnelle. Le stagiaire se voit confier une ou des missions conformes au projet pédagogique défini par son établissement d’enseignement et approuvées par l’organisme d’accueil.
Le programme est établi par l’établissement d’enseignement et l’organisme d’accueil en fonction du programme général de la formation dispensée.
Activités confiées :
 EXEMPLE
Analyse de cahier des charges, développement de sites web / applications mobiles, mise en place de tests, participation aux phases de déploiement
Compétences à acquérir ou développer :
Développement front end, développement back end, intégration graphique, modélisation de base de données</p>
<p style= " font-weight: bold;"> Article 3 – Modalités du stage </p>
<p>
La durée hebdomadaire de présence effective du stagiaire dans l’organisme d’accueil sera de 35,00 heures sur la base d’un temps complet/ temps partiel (rayer la mention inutile),
Si le stagiaire doit être présent la nuit, le dimanche ou un jour férié, préciser les cas particuliers :</p>
<p style= " font-weight: bold;"> Article 4 – Accueil et encadrement du stagiaire </p>
<p>  
Le stagiaire est suivi par l’enseignant référent désigné dans la présente convention ainsi que par le service de l’établissement en charge des stages.
Le tuteur de stage désigné par l’organisme d’accueil dans la présente convention est chargé d’assurer le suivi du stagiaire et d’optimiser les conditions de réalisation du stage conformément aux stipulations pédagogiques définies.
Le stagiaire est autorisé à revenir dans son établissement d’enseignement si les conditions sanitaires le permettent pendant la durée du stage pour y suivre des cours demandés explicitement par le programme, ou pour participer à des réunions ; les dates sont portées à la connaissance de l’organisme d’accueil par l’établissement.
L’organisme d’accueil peut autoriser le stagiaire à se déplacer.
Toute difficulté survenue dans la réalisation et le déroulement du stage, qu’elle soit constatée par le stagiaire ou par le tuteur de stage, doit être portée à la connaissance de l’enseignant référent et de l’établissement d’enseignement afin d’être résolue au plus vite.  
L’organisme d’accueil ne doit pas confier de tâches dangereuses au stagiaire.

MODALITÉS D’ENCADREMENT (visites, rendez-vous téléphoniques, etc.) :
</p>
<p style= " font-weight: bold;">Article 5 – Gratification - Avantages</p>
<p>
A l’étranger, les règles de gratification ou de rémunération relèveront du droit local.
Lorsque le stage a lieu en France et que la durée du stage est supérieure à deux mois, consécutifs ou non, celui-ci fait obligatoirement l’objet d’une gratification, sauf en cas de règles particulières applicables dans certaines collectivités d’outre-mer  françaises et pour les stages relevant de l’article L4381-1 du code de la santé publique.
Le montant horaire de la gratification est fixé à 15 % du plafond horaire de la sécurité sociale défini en application de l’article L.241-3 du code de la sécurité sociale. Une convention de branche ou un accord professionnel peut définir un montant supérieur à ce taux.  La gratification d’un montant maximum de 15 % du plafond horaire de la sécurité sociale n’est pas soumise à cotisation sociale. Au-delà, les cotisations sociales sont calculées sur le différentiel entre le montant de la gratification et 15 % du plafond horaire de la Sécurité Sociale.
La gratification due par un organisme de droit public ne peut être cumulée avec une rémunération versée par ce même organisme au cours de la période concernée.
La gratification est due sans préjudice du remboursement des frais engagés par le stagiaire pour effectuer son stage et des avantages offerts, le cas échéant, pour la restauration, l’hébergement et le transport.
L’organisme peut décider de verser une gratification pour les stages dont la durée est inférieure ou égale à deux mois.
En cas de suspension ou de résiliation de la présente convention, le montant de la gratification due au stagiaire est proratisé en fonction de la durée du stage effectué.
La durée donnant droit à gratification s’apprécie compte tenu du nombre de jours de présence effective du stagiaire.
LE MONTANT DE LA GRATIFICATION est fixé à 3,90 horaire €.
par heure / jour / mois (rayer les mentions inutiles)
<br>
Article 5 bis – France - Accès aux droits des salariés – Avantages (Organisme de droit privé en France sauf règles particulières applicables dans certaines collectivités d’outre-mer  françaises) :
Le stagiaire bénéficie des protections et droits mentionnés aux articles L.1121-1, L.1152-1 et L.1153-1 du code du travail, dans les mêmes conditions que les salariés.
Le stagiaire a accès au restaurant d’entreprise ou aux titres-restaurants prévus à l’article L.3262-1 du code du travail, dans les mêmes conditions que les salariés de l’organisme d’accueil. Il bénéficie également de la prise en charge des frais de transport prévue à l’article L.3261-2 du même code.
Le stagiaire accède aux activités sociales et culturelles mentionnées à l’article L.2312-78 du code du travail dans les mêmes conditions que les salariés.
AUTRES AVANTAGES ACCORDÉS :
<br>
Article 5ter – France - Accès aux droits des agents - Avantages (Organisme de droit public en France sauf en cas de règles particulières applicables dans certaines collectivités d’outre-mer françaises) :
Les trajets effectués par le stagiaire d’un organisme de droit public entre son domicile et son lieu de stage sont pris en charge dans les conditions fixées par le décret n°2010-676 du 21 juin 2010.
Est considéré comme sa résidence administrative le lieu du stage indiqué dans la présente convention.
Le stagiaire accueilli dans un organisme de droit public et qui effectue une mission dans ce cadre bénéficie de la prise en charge de ses frais de déplacement temporaire selon la réglementation en vigueur.
AUTRES AVANTAGES ACCORDÉS :</p>
<p style= " font-weight: bold;">Article 6 – Régime de protection sociale</p>
<p>
Pendant la durée du stage, le stagiaire bénéficie d’une protection maladie et accident dès lors qu’il est affilié à un régime de sécurité sociale et que le droit français s’applique.  
Les stages effectués à l’étranger sont signalés préalablement au départ du stagiaire à la Sécurité sociale le cas échéant.
Pour les stages à l’étranger, les dispositions suivantes sont applicables sous réserve de conformité avec la législation du pays d’accueil et de celle régissant le type d’organisme d’accueil.
<br>
6-1 Gratification d’un montant maximum de 15 % du plafond horaire de la sécurité sociale :
Le stagiaire bénéficie de la législation sur les accidents de travail au titre  t de l’article L.412-8 2° du code de la sécurité sociale.
En cas d’accident survenant au stagiaire soit au cours d’activités dans le ou les lieux du stage, soit au cours du trajet entre le domicile et le lieu de stage, soit sur les lieux rendus utiles pour les besoins du stage et pour les étudiants en médecine, en chirurgie dentaire ou en pharmacie qui n’ont pas un statut hospitalier pendant le stage effectué dans les conditions prévues au b du 2e de l’article L.412-8, l’organisme d’accueil envoie la déclaration à la Caisse Primaire d’Assurance Maladie ou la caisse compétente (voir adresse en page 1) en mentionnant l’établissement d’enseignement comme employeur, avec copie à l’établissement d’enseignement.
<br>
6.2 – Gratification supérieure à 15 % du plafond horaire de la sécurité sociale :
Les cotisations sociales sont calculées sur le différentiel entre le montant de la gratification et 15 % du plafond horaire de la Sécurité Sociale.
En cas d’accident survenant au stagiaire soit au cours des activités dans l’organisme, soit au cours du trajet, soit sur des lieux rendus utiles pour les besoins de son stage, l’organisme d’accueil effectue toutes les démarches nécessaires auprès de la Caisse Primaire d’Assurance Maladie et informe l’établissement dans les meilleurs délais.
<br>
6.3 – Protection Maladie du/de la stagiaire à l’étranger
<br>
1) Protection issue du régime de sécurité social français
- pour les stages au sein de l’Espace Économique Européen (E.E.E) effectués par des ressortissants d’un État de l’Union Européenne, ou de la Norvège, de l’Islande, du Liechtenstein, de la Suisse ou encore de tout autre État (dans ce dernier cas, cette disposition n’est pas applicable pour un stage au Danemark, Norvège, Islande, Liechtenstein ou Suisse), le stagiaire doit demander la Carte Européenne d’Assurance Maladie (CEAM).
- pour les stages effectués au Québec par les étudiant(e)s de nationalité française, le stagiaire doit demander le formulaire SE401Q (104 pour les stages en entreprises, 106 pour les stages en université) ;
- dans tous les autres cas le stagiaire qui engage des frais de santé doit vérifier ses conditions de prise en charge. Des écarts importants peuvent exister entre les frais engagés et les tarifs français base du remboursement. Il est donc fortement conseillé au stagiaire de souscrire une assurance maladie complémentaire spécifique, valable pour le pays et la durée du stage, auprès de l’organisme d’assurance de son choix ou, éventuellement et après vérification de l’étendue des garanties proposées, auprès de l’organisme d’accueil si celui-ci fournit au stagiaire une couverture maladie en vertu du droit local (voir 2e ci-dessous).
<br>
2) Protection sociale issue de l’organisme d’accueil
En cochant la case appropriée, l’organisme d’accueil indique ci-après s’il fournit une protection maladie au stagiaire, en vertu du droit local :
<input type="checkbox"> OUI : cette protection s’ajoute au maintien, à l’étranger, des droits issus du droit français
<br>
<input type="checkbox"> NON : la protection découle alors exclusivement du maintien, à l’étranger, des droits issus du régime de sécurité social français).
<br>
<br>
Si aucune case n’est cochée, le 6.3 – 1 s’applique.
<br>
6.4 Protection Accident du Travail du stagiaire à l’étranger
<br>
1) Pour pouvoir bénéficier de la législation française sur la couverture accident de travail, le présent stage doit :
- être d’une durée au plus égale à 6 mois, prolongations incluses ;
- ne donner lieu à aucune rémunération susceptible d’ouvrir des droits à une protection accident de travail dans le pays d’accueil ; une indemnité ou gratification est admise dans la limite de 15 % du plafond horaire de la sécurité sociale (cf point 5), et sous réserve de l’accord de la Caisse Primaire d’Assurance Maladie sur la demande de maintien de droit ;
- se dérouler exclusivement dans l’organisme signataire de la présente convention ;
- se dérouler exclusivement dans le pays d’accueil étranger cité.
Lorsque ces conditions ne sont pas remplies, l’organisme d’accueil s’engage à cotiser pour la protection du stagiaire et à faire les déclarations nécessaires en cas d’accident de travail.  
<br>
2) La déclaration des accidents de travail incombe à l’établissement d’enseignement qui doit en être informé par l’organisme d’accueil par écrit dans un délai de 48 heures.
<br>
3) La couverture concerne les accidents survenus :
- dans l’enceinte du lieu du stage et aux heures du stage,
- sur le trajet aller-retour habituel entre la résidence du stagiaire sur le territoire étranger et le lieu du stage ;
- dans le cadre d’une mission confiée par l’organisme d’accueil du stagiaire et obligatoirement par ordre de mission ;
- lors du premier trajet pour se rendre depuis son domicile sur le lieu de sa résidence durant le stage (déplacement à la date du début du stage) ;
- lors du dernier trajet de retour depuis sa résidence durant le stage à son domicile personnel.
<br>
4) Pour le cas où l’une seule des conditions prévues au point 6.4-1 n’est pas remplie, l’organisme d’accueil s’engage à couvrir le stagiaire contre le risque d’accident de travail, de trajet et les maladies professionnelles et à en assurer toutes les déclarations nécessaires.
<br>
5) Dans tous les cas :
- si le stagiaire est victime d’un accident de travail durant le stage, l’organisme d’accueil doit impérativement signaler immédiatement cet accident à l’établissement d’enseignement ;
- si le stagiaire remplit des missions limitées en-dehors de l’organisme d’accueil ou en-dehors du pays du stage, l’organisme d’accueil doit prendre toutes les dispositions nécessaires pour lui fournir les assurances appropriées.
</p>
<p style= " font-weight: bold;">Article 7 – Responsabilité et assurance</p>
<p>
L’organisme d’accueil et le stagiaire déclarent être garantis au titre de la responsabilité civile.
Pour les stages à l’étranger ou en cas de risque identifié par l’établissement, le stagiaire s’engage à souscrire un contrat d’assistance (rapatriement sanitaire, assistance juridique…) et un contrat d’assurance individuel accident.
Lorsque l’organisme d’accueil met un véhicule à la disposition du stagiaire, il lui incombe de vérifier préalablement que la police d’assurance du véhicule couvre son utilisation par un étudiant (qui dispose du permis adéquat pour le conduire).
Lorsque dans le cadre de son stage, l’étudiant utilise son propre véhicule ou un véhicule prêté par un tiers, il déclare expressément à l’assureur dudit véhicule et, le cas échéant, s’acquitte de la prime y afférente.
</p>
<p style= " font-weight: bold;">Article 8 – Discipline</p>
<p>
Le stagiaire est soumis à la discipline et aux clauses du règlement intérieur qui lui sont applicables et qui sont portées à sa connaissance avant le début du stage, notamment en ce qui concerne les horaires et les règles d’hygiène et de sécurité en vigueur dans l’organisme d’accueil.
Toute sanction disciplinaire ne peut être décidée que par l’établissement d’enseignement. Dans ce cas, l’organisme d’accueil informe l’enseignant référent et l’établissement des manquements et fournit éventuellement les éléments constitutifs.
En cas de manquement particulièrement grave à la discipline, l’organisme d’accueil se réserve le droit de mettre fin au stage tout en respectant les dispositions fixées à l’article 9 de la présente convention.
</p>
<p style= " font-weight: bold;">Article 9 – Congés – Interruption du stage</p>
<p>
Lorsque le stage a lieu en France (sauf en cas de règles particulières applicables dans certaines collectivités d’outre-mer françaises ou dans les organismes de droit public), en cas de grossesse, de paternité ou d’adoption, le stagiaire bénéficie de congés et d’autorisations d’absence d’une durée équivalente à celle prévues pour les salariés aux articles L.1225-16 à L.1225-28, L.1225-35, L.1225-37, L.1225-46 du code du travail.
Pour les stages dont la durée est supérieure à deux mois et dans la limite de la durée maximale de 6 mois, des congés ou autorisations d’absence sont possibles.
NOMBRE DE JOURS DE CONGÉS AUTORISÉS / ou modalités des congés et autorisations d’absence durant le stage : …………………………………………………..
A l’étranger, les congés ne sont pas obligatoires.
Toute interruption temporaire ou définitive du stage, est signalée aux signataires de la convention. Une modalité de validation est mise en place le cas échéant par l’établissement. En cas d’accord des parties à la convention, un report de la fin du stage est possible afin de permettre la réalisation de la durée totale du stage prévue initialement.  Ce report fera l’objet d’un avenant à la convention de stage.
Un avenant à la convention pourra être établi en cas de prolongation du stage sur demande conjointe de l’organisme d’accueil et du stagiaire, dans le respect de la durée maximale du stage fixée par la loi (6 mois).
Les raisons invoquées seront examinées en étroite concertation. La décision définitive d’arrêt du stage ne sera prise qu’à l’issue de cette phase de concertation.
</p>
<p style= " font-weight: bold;">Article 10 – Devoir de réserve et confidentialité</p>
<p>
Le devoir de réserve et de confidentialité est de rigueur absolue et apprécié par l’organisme d’accueil compte-tenu de ses spécificités. Le stagiaire prend donc l’engagement de n’utiliser en aucun cas les informations recueillies ou obtenues par eux pour en faire publication, communication à des tiers sans accord préalable de l’organisme d’accueil, y compris le rapport de stage. Cet engagement vaut non seulement pour la durée du stage mais également après son expiration. Le stagiaire s’engage à ne conserver, emporter, ou prendre copie d’aucun document ou logiciel, de quelque nature que ce soit, appartenant à l’organisme d’accueil, sauf accord de ce dernier.
Dans le cadre de la confidentialité des informations contenues dans le rapport de stage, l’organisme d’accueil peut demander une restriction de la diffusion du rapport, voire le retrait de certains éléments confidentiels.
Les personnes amenées à connaître les informations contenues dans le rapport de stage sont contraintes par le secret professionnel à n’utiliser ni ne divulguer les informations du rapport.
</p>
<p style= " font-weight: bold;">Article 11 – Propriété intellectuelle</p>
<p>
En France, dans le cas où les activités du stagiaire donnent lieu à la création d’une œuvre protégée par le droit d’auteur ou la propriété industrielle (y compris un logiciel), un contrat doit être signé entre le stagiaire (auteur) et l’organisme d’accueil. Le contrat devra notamment préciser une mission inventive, l’étendue des droits cédés, l’éventuelle exclusivité, la destination, les supports utilisés et la durée de la cession, ainsi que, le cas échéant, le montant de la contrepartie financière due au stagiaire au titre de la cession. Ces dispositions s’appliquent sauf en cas de règles particulières relatives aux stages  réalisés au sein d’une personne morale de droit public ou de droit privé réalisant de la recherche qui sont soumis à l’article L611-7-1 du code de la propriété intellectuelle.
</p>
<p style= " font-weight: bold;">Article 12 – Fin de stage – Rapport - Évaluation</p>
<p>
1) Attestation de stage : à l’issue du stage, l’organisme d’accueil délivre une attestation dont le modèle figure en annexe, mentionnant au minimum la durée effective du stage et, le cas échéant, le montant de la gratification perçue.
Le stagiaire devra produire cette attestation à l’appui de sa demande éventuelle d’ouverture de droits au régime général d’assurance vieillesse prévue à l’art. L.351-17 du code de la sécurité sociale .
<br>
2) Qualité du stage : à l’issue du stage, les parties à la présente convention sont invitées à formuler une appréciation sur la qualité du stage.
Le stagiaire transmet au service compétent de l’établissement d’enseignement un document dans lequel il évalue la qualité de l’accueil dont il a bénéficié au sein de l’organisme d’accueil. Ce document n’est pas pris en compte dans son évaluation ou dans l’obtention du diplôme ou de la certification.
<br>
3) Évaluation de l’activité du stagiaire : à l’issue du stage, l’organisme d’accueil renseigne une fiche d’évaluation de l’activité du stagiaire qu’il retourne à l’enseignant référent (ou préciser si fiche annexe ou modalités d’évaluation préalablement définis en accord avec l’enseignant référent) …………………………………………………………………………………………………………………...
<br>
4) Modalités d’évaluation pédagogiques : le stagiaire devra préciser la nature du travail à fournir –rapport, etc.-  éventuellement en joignant une annexe
…………………………………………………………………………………………………………………...
NOMBRE D’ECTS (le cas échéant) : 10
<br>
5) Le tuteur de l’organisme d’accueil ou tout membre de l’organisme d’accueil appelé à se rendre dans l’établissement d’enseignement dans le cadre de la préparation, du déroulement et de la validation du stage ne peut prétendre à une quelconque prise en charge ou indemnisation de la part de l’établissement d’enseignement.
</p>
<p style= " font-weight: bold;">    </p>
<p>
La présente convention est régie exclusivement par le droit français.
Tout litige non résolu par voie amiable sera soumis à la compétence de la juridiction française compétente.
Conformément à la réglementation relative à la protection des données personnelles, le stagiaire devra être informé du traitement réservé aux données personnelles qu’il aura été amené à fournir à l’établissement de formation et à l’organisme d’accueil.
</p>
<p>
    Fait à _____________, le ___________________
</p>
</div>
<div class="signature">

    <h2>    POUR L’ÉTABLISSEMENT D’ENSEIGNEMENT</h2>

    <p>    Nom et signature du représentant de l’établissement d'enseignement: SEBASTIEN LIMET    </p>
    <br><br><br><br><br><br>
    <p>  Nom et signature du stagiaire(ou son représentant légal le cas échéant): {{convention.stagiaire.user.username}} {{convention.stagiaire.user.last_name}}   
    <br><br><br><br><br><br>
    <p>  L’enseignant signataire de la convention pour le Département {{convention.gestionnaire.user.last_name}} {{convention.gestionnaire.user.first_name}} </p>
    <br><br><br><br><br><br>

      
    
    <h2>    POUR L’ORGANISME D’ACCUEIL</h2>
<p>Représentant de l’organisme d’accueil : Nom et signature 	</p>
    <br><br><br><br><br>
    <p>Le tuteur de stage de l’organisme d’accueil : Nom et signature </p>
    <br><br><br><br><br>
</div>
<div style="page-break-before:always">
    <h1>
        ATTESTATION DE STAGE
        <br>
        à remettre au stagiaire à l'issue du stage
    </h1>
    <p>ORGANISME D’ACCUEIL</p><br>
    <h2>Certifie que</h2>

</div>
<div>
    <h3>    LE STAGIAIRE</h3>
    <p>Nom : ________ Prénom : __________  Sexe : F  M       Né(e) le : ___________________</p>
    <p>Adresse : ___________________________</p>
    <p> mél : __________________________</p>
    <p>etudiant en (intitulé de la formation ou du cursus de l’enseignement supérieur suivi par le ou la stagiaire) :</p>
    <p style="text-align: center; ">{{convention.stagiaire.formation}}</p>
    <p>au sein de (nom de l’établissement d’enseignement supérieur ou de l’organisme de formation) :</p>
    <p style="text-align: center;">{{convention.stagiaire.departement}}</p>

</div>
<h2>A effectué un stage prévu dans le cadre de ses études</h2>
<div>
    <h3>Durée du stage     </h3>
    <p>           Dates de début et de fin du stage :  du {{convention.dateDebut}} au {{convention.dateFin}}</p>
    <p>           Représentant une durée totale  de 16,00 semaine(s)</p>
    <p>La durée totale du stage est appréciée en tenant compte de la présence effective du stagiaire dans l’organisme, sous réserve des droits à congés et autorisations d’absence prévus à l’articleL.124-13 du code de l’éducation (art. L.124-18 du code de l’éducation). Chaque période au moins égale à 7 heures de présence consécutives ou non est considérée comme équivalente à un jour de stage et chaque période au moins égale à 22 jours de présence consécutifs ou non est considérée comme équivalente à un mois.</p>
    <p>Montant de la Gratification versée au stagiaire</p>
    <p>Le stagiaire a perçu une gratification de stage pour un montant total de ………………………..€</p>
</div>
<div>
    <p>L’attestation de stage est indispensable pour pouvoir, sous réserve du versement d’une cotisation, faire prendre en compte le stage dans les droits à retraite. La législation sur les retraites (loi n°2014-40 du 20 janvier 2014) ouvre aux étudiants dont le stage a été gratifié la possibilité de faire valider celui-ci dans la limite de deux trimestres, sous réserve du versement d’une cotisation. La demande est à faire par l’étudiant dans les deux années suivant la fin du stage et sur présentation obligatoire de l’attestation de stage mentionnant la durée totale du stage et le montant total de la gratification perçue. Les informations précises sur la cotisation à verser et sur la procédure à suivre sont à demander auprès de la sécurité sociale (code de la sécurité sociale art. L.351-17 – code de l’éducation art..D.124-9).</p>
    <p>
        FAIT à …………………………..
        Le………………………
        
        </p>
</div>
<style>
h3{
    padding-top: 2px;
    border: solid black;
}
h1{
    text-align: center;
    padding-top: 2px;
    border: solid black;
}
</style>